* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background: url(/media/Pattern.png);
}

section {
    height: 100vh;
    background: url(/media/Switch\ Background.png);
    background-size: cover;
    background-position: center;
    display: flex;
}

section .panel-section {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* PANEL */
section .panel-section .panel {
    width: 80%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
}

/* STEP 1 */
section .panel-section .panel .step-1 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.title {
    display: flex;
    gap: 0.5rem;
}

.title span {
    display: block;
    background-color: #fb3718;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

section .panel-section .panel .step-1 .consoles {
    display: flex;
    justify-content: flex-start;
    gap: .5rem;
    width: 100%;
}

section .panel-section .panel .step-1 .consoles div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0.8rem;
    width: 45%;
}

section .panel-section .panel .step-1 .consoles div p {
    width: 100%;
    text-align: center;
    padding: 0.4rem 0;
    font-size: 0.9rem;
}

.selected {
    font-weight: bold;
}

section .panel-section .panel .step-1 .consoles div p:first-child {
    background-color: #0069b5;
    padding: 0.4rem 0;
    font-size: 1.1rem;
    color: #fff;
    border-radius: 0.8rem 0.8rem 0 0;
}

section .panel-section .panel .step-1 .consoles div p:nth-child(3n), :nth-child(5n) {
    background-color: #fff;
}

section .panel-section .panel .step-1 .consoles div p:nth-child(2n) {
    background-color: #efeded;
}

section .panel-section .panel .step-1 .consoles div p:last-child {
    border-radius: 0 0 0.8rem 0.8rem;
}

section .panel-section .panel .step-1 .consoles div p:hover {
    font-weight: bold;
    cursor: pointer;
}

section .panel-section .panel .step-1 .consoles div p:first-child:hover {
    font-weight: normal;
    cursor: default;
}

/* STEP 2 */

section .panel-section .panel .step-2 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

section .panel-section .panel .step-2 form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 0.9rem;
}

section .panel-section .panel .step-2 form label {
    background-color: #0069b5;
    height: 2.5rem;
    display: flex;
    align-items: center;
    padding: 0 2rem;
    border-radius: 0.8125rem 0 0 0.8125rem;
}

section .panel-section .panel .step-2 form input{
    height: 2.5rem;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10rem;
    text-align: center;
    background-color: #fff;
}

section .panel-section .panel .step-2 form input:focus{
    outline: none;
}

section .panel-section .panel .step-2 form i{
    width: 1.875rem;
    background-color: #fff;
    height: 2.5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 0 0.8125rem 0.8125rem 0;
    cursor: text;
}

/* STEP 3 */
.hidden {
    display: none;
}


/* IMAGE */
section .image-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

section .image-section img {
    width: 50%;
}