@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background-image: url('../images/pattern.png');
}

h1 {
    display: none;
}

/* COVER */

.cover {
    height: 100vh;
}

/* BANNER */

.banner {
    height: 25vh;
    width: 100%;
    background-image: url('../images/banner.png');
    background-repeat: no-repeat;
    background-size: cover;
}

/* STORY */

.story {
    background: linear-gradient(to top, #ffffffed 90%,#339c52 );
    width: 100%;
    height: 75vh;
    padding: 5% 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.story-text {
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.story-text p:nth-child(1) {
    text-align: center;
    font-size: 23px;
    font-weight: bold;
    line-height: 1.2;
}

.story-text p:nth-child(2) {
    font-size: 11px;
    text-align: justify;
}

.icons {
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.icons .icon:nth-child(1) {
    color: #000;
    font-size: 40px;
}

.icons .icon:nth-child(2) {
    color: #C13584;
}

.icons .icon:nth-child(3) {
    color: #7289DA;
}

.icons .icon:nth-child(4) {
    color: #273f73;
}

.icons .icon:nth-child(5) {
    color:  #000;
}

.icons .icon:hover {
    cursor: pointer;
    scale: 98%;
}

.story-image {
    width: 100%;
    height: 25%;
    background-image: url('../images/people_trading.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    border: 3px solid #000;
    overflow: hidden;
}

/* CATALOGUE */

.catalogue {
    background-color: #ffffffed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* gap: 100px; */
    padding: 100px 10%;
}

.catalogue h2 {
    font-size: 60px;
}

.catalogue-section {
    background-color: red;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.catalogue-titles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.catalogue-section:nth-child(2n) .catalogue-titles h3 {
    align-self: flex-start;
}

.catalogue-section:nth-child(2n+1) .catalogue-titles h3 {
    align-self: flex-end;
}

.catalogue-titles h3 {
    font-size: 35px;
    font-weight: 500;
}

.catalogue-titles h4 {
    font-size: 20px;
    font-weight: 300;
}

.catalogue-section:nth-child(2n) .catalogue-titles {
    align-self: flex-start;
}

.catalogue-section:nth-child(2n+1) .catalogue-titles {
    align-self: flex-end;
}

.carousel {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 24%);
    justify-content: space-between;
}

.carousel img {
    width: 100%;
    border: 2px solid black;
    border-radius: 20px;
}

.availability {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.availability p {
    font-size: 35px;
    font-weight: 500;
    align-self: flex-start;
    margin-bottom: 20px;
}

.availability .games-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.availability .games-container img {
    width: 150px;
}



/* DELIVERY */

.delivery {
    background-color: #ffffffed;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-bottom: 30px;
}

.delivery h3 {
    font-size: 35px;
    font-weight: 500;
}

.delivery .consoles {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.delivery .consoles .console {
    background-color: #00000028;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    border-radius: 20px;
    padding: 30px;
}

.delivery .consoles .console img {
    width: 300px;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.delivery .consoles .console .instructions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.delivery .consoles .console .instructions p {
    text-align: center;
}

@media screen and (max-width:400px) {
    .delivery h3 {
        font-size: 25px;
        text-align: center;
    }

    .delivery .consoles {
        flex-direction: column;
    }

    .delivery .consoles .console {
        width: 70%;
    }

    .delivery .consoles .console .instructions p {
        font-size: 13px;
    }
}

@media screen and (min-width:401px)  and (max-width:1200px) {
    .delivery h3 {
        font-size: 30px;
        text-align: center;
    }

    .delivery .consoles {
        flex-direction: column;
    }

    .delivery .consoles .console {
        width: 70%;
    }
}

/* FOOTER */

footer {
    box-sizing: border-box;
    width: 100%;
    min-height: 6vh;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 20px;
    gap: 20px;
}

.developer {
    font-size: 20px;
}

.developer a {
    font-size: 23px;
    text-decoration: none;
    color: #800040;
    margin-left: 5px;
}

.copyright {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    font-size: 12px;
}

@media screen and (min-width:0px) and (max-width:700px) {
    .developer {
        font-size: 9px;
    }
    
    .developer a {
        font-size: 11px;
    }

    .copyright {
        font-size: 7px;
        max-width: 47%;
    }
}

@media screen and (min-width:701px) and (max-width:1350px) {
    .developer {
        font-size: 12px;
    }
    
    .developer a {
        font-size: 14px;
    }

    .copyright {
        font-size: 7px;
        max-width: 70%;
    }
}

@media screen and (min-width:1351px) and (max-width:1700px) {
    .developer {
        font-size: 15px;
    }
    
    .developer a {
        font-size: 18px;
    }

    .copyright {
        font-size: 9px;
    }
}

/* RESPONSIVE */

@media (min-width: 360px) {             /* GENERAL */
    .story-text p:nth-child(2) {
        font-size: 13px;
    }
}

@media (min-width: 485px) {
    .story-text {
        height: 70%;
    }

    .story-text p:nth-child(1) {
        font-size: 25px;
    }

    .story-text p:nth-child(2) {
        font-size: 15px;
    }

    .story-image {
        width: 60%;
        height: 30%;
    }

    .icons {
        scale: 20px;
    }

    .icons .icon:nth-child(1) {
        font-size: 32px;
    }
}

@media (min-width: 767px) {             /* GENERAL */
    .story-text {
        height: 60%;
    }

    .story-text p:nth-child(1) {
        font-size: 27px;
    }

    .story-text p:nth-child(2) {
        font-size: 15px;
    }

    .icons {
        scale: 25px;
    }

    .icons .icon:nth-child(1) {
        font-size: 40px;
    }

    .story-image {
        height: 40%;
    }
}

@media (min-width: 900px) {       
    .story {
        flex-direction: row;
    }

    .story-text {
        order: 2;
        width: 48%;
        height: 80%;
        align-items: flex-start;
        justify-content: space-between;
    }
    
    .story-text p:nth-child(1) {
        font-size: 25px;
        text-align: start;
    }
    
    .story-text p:nth-child(2) {
        font-size: 14px;
    }

    .story-image {
        order: 1;
        width: 48%;
        height: 80%;
    }

    .icons {
        align-self: flex-end;
        font-size: 30px;
    }

    .icons .icon:nth-child(1) {
        font-size: 48px;
    }
}

@media (min-width: 1366px) {             /* GENERAL */    
    .story-text p:nth-child(1) {
        font-size: 32px;
    }
    
    .story-text p:nth-child(2) {
        font-size: 16px;
    }
}

@media (min-width: 1920px) {             /* GENERAL */
    .story-text p:nth-child(1) {
        font-size: 40px;
    }
    
    .story-text p:nth-child(2) {
        font-size: 22px;
    }

    .icons {
        font-size: 37px;
        gap: 20px;
    }

    .icons .icon:nth-child(1) {
        font-size: 60px;
    }
}

@media (min-width: 2500px) {             /* GENERAL */
    .story-text p:nth-child(1) {
        font-size: 46px;
    }
    
    .story-text p:nth-child(2) {
        font-size: 27px;
    }

    .icons {
        font-size: 45px;
        gap: 25px;
    }

    .icons .icon:nth-child(1) {
        font-size: 65px;
    }
}