@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

h1 {
    display: none;
}

/* COVER */

.cover {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* BANNER */

.banner {
    height: 35vh;
    width: 100%;
    background-image: url('../images/banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

/* STORY */

.story {
    height: 65vh;
    width: 100%;
    background-image: url('../images/pattern.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.story-container {
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    gap: 30px;
}

.story-image {
    width: 48%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.story-image img {
    width: clamp(250px, 30vw, 1200px);
    max-width: 100%;
    max-height: 100%;
}

.story-text {
    width: 48%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    overflow: hidden;
}

.story-text p:nth-child(1) {
    font-size: clamp(30px, 3vw, 80px);
    font-weight: bold;
    line-height: 1.2;
}

.story-text p:nth-child(2) {
    font-size: clamp(15px, 1.1vw, 35px);
    text-align: justify;
}

.icons {
    font-size: 45px;
    align-self: flex-end;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.icons .icon:nth-child(1) {
    color: #000;
    font-size: 55px;
}

.icons .icon:nth-child(2) {
    color: #C13584;
}

.icons .icon:nth-child(3) {
    color: #7289DA;
}

.icons .icon:nth-child(4) {
    color: #273f73;
}

.icons .icon:nth-child(5) {
    color:  #000;
}

.icons .icon:hover {
    cursor: pointer;
    scale: 98%;
}

@media screen and (max-width: 400px) {
    .banner {
        height: 17vh;
    }

    .story {
        height: 83vh;
    }

    .story-container {
        flex-direction: column;
        height: 100%;
        gap: 0px;
    }

    .story-image {
        width: 100%;
        height: 35%;
        justify-content: center;
    }

    .story-image img {
        width: 200px;
    }

    .story-text {
        width: 100%;
        height: 65%;
        gap: 30px;
        text-align: center;
    }

    .story-text p:nth-child(1) {
        font-size: 25px;
    }

    .story-text p:nth-child(2) {
        font-size: 12px;
    }

    .icons {
        scale: 70%;
        align-self: center;
    }
}

@media screen and (min-width: 401px) and (max-width: 1111px) {
    .banner {
        height: 20vh;
    }

    .story {
        height: 80vh;
    }

    .story-container {
        flex-direction: column;
        height: 100%;
        gap: 0px;
    }

    .story-image {
        width: 100%;
        height: 35%;
        justify-content: center;
    }

    .story-image img {
        height: 94%;
        max-height: 95%;
        object-fit: contain;
    }

    .story-text {
        width: 100%;
        height: 65%;
        gap: 20px;
        text-align: center;
    }

    .icons {
        scale: 70%;
        align-self: center;
    }
}

/* CATALOGUE */

.catalogue {
    height: 230vh;
    background-image: url('../images/pattern.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.catalogue h2 {
    font-size: 60px;
}

.catalogue-section {
    width: 90%;
    height: 37vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.catalogue-titles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.catalogue-section:nth-child(2n) .catalogue-titles h3 {
    align-self: flex-start;
}

.catalogue-section:nth-child(2n+1) .catalogue-titles  h3 {
    align-self: flex-end;
}

.catalogue-titles h3 {
    font-size: 35px;
    font-weight: 500;
}

.catalogue-titles h4 {
    font-size: 20px;
    font-weight: 300;
}

.catalogue-section:nth-child(2n) .catalogue-titles {
    align-self: flex-start;
}

.catalogue-section:nth-child(2n+1) .catalogue-titles {
    align-self: flex-end;
}

.carousel {
    width: 100%;
    height: 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.carousel img {
    width: 24%;
    border: 2px solid black;
    border-radius: 20px;
}

.availability {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.availability p {
    font-size: 35px;
    font-weight: 500;
    align-self: flex-start;
    margin-bottom: 20px;
}

.availability .games-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.availability .games-container img {
    width: 150px;
}

/* DELIVERY */

.delivery {
    width: 100%;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-image: url('../images/pattern.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.delivery h3 {
    font-size: 35px;
    font-weight: 500;
}

.delivery .consoles {
    max-width: 90%;
    height: 60vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.delivery .consoles .console {
    background-color: #00000028;
    height: 90%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 20px;
    padding: 10px;
}

.delivery .consoles .console img {
    width: 300px;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.delivery .consoles .console .instructions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.delivery .consoles .console .instructions p {
    text-align: center;
}

/* 

RESPONSIVE

Small Phones
@media screen and (max-width: 400px) {
    .banner {
        justify-content: flex-start;
    }

    .banner .icons {
        flex-direction: column;
        padding-left: 10px;
    }

    .story-container {
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    .story-container img {
        padding-top: 20px;
        width: 200px;
    }

    .story-text {
        width: 85%;
    }

    .story-text p:first-child {
        font-size: 23px;
    }
    
    .story-text p:last-child {
        font-size: 13px;
        text-align: justify;
    }

    .catalogue {
        height: 300vh;
    }

    .catalogue h2 {
        font-size: 40px;
    }

    .catalogue-section {
        height: 45vh;
    }

    .catalogue-titles h3 {
        font-size: 25px;
        font-weight: 500;
        margin-top: 15px;
    }
    
    .catalogue-titles h4 {
        font-size: 15px;
        font-weight: 300;
    }

    .catalogue-section:nth-child(2n+1) .catalogue-titles h3 {
        align-self: flex-start;
    }

    .carousel img {
        width: 40%;
    }

    .availability .games-container img {
        width: 80px;
    }

    .delivery {
        height: 120vh;
        display: flex;
    }

    .delivery h3 {
        font-size: 25px;
        text-align: center;
    }

    .delivery .consoles {
        gap: 20px;
        flex-direction: column;
        height: 85%;
    }

    .delivery .consoles .console {
        width: 95%;
    }

    .delivery .consoles .console img {
        width: 150px;
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
    }
}

Phones
@media screen and (max-width: 576px) {
    .banner {
        justify-content: flex-start;
    }

    .banner .icons {
        flex-direction: column;
        padding-left: 10px;
    }

    .story-container {
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    .story-container img {
        padding-top: 20px;
        width: 200px;
    }

    .story-text {
        width: 85%;
    }

    .story-text p:first-child {
        font-size: 23px;
    }
    
    .story-text p:last-child {
        font-size: 13px;
        text-align: justify;
    }

    .catalogue {
        height: 300vh;
    }

    .catalogue h2 {
        font-size: 40px;
    }

    .catalogue-section {
        height: 45vh;
    }

    .catalogue-titles h3 {
        font-size: 25px;
        font-weight: 500;
        margin-top: 15px;
    }
    
    .catalogue-titles h4 {
        font-size: 15px;
        font-weight: 300;
    }

    .catalogue-section:nth-child(2n+1) .catalogue-titles h3 {
        align-self: flex-start;
    }

    .carousel img {
        width: 40%;
    }

    .availability .games-container img {
        width: 80px;
    }

    .delivery {
        height: 120vh;
        display: flex;
    }

    .delivery h3 {
        font-size: 25px;
        text-align: center;
    }

    .delivery .consoles {
        gap: 20px;
        flex-direction: column;
        height: 85%;
    }

    .delivery .consoles .console {
        width: 95%;
    }

    .delivery .consoles .console img {
        width: 150px;
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
    }
}
  
Tablets
@media screen and (min-width: 577px) and (max-width: 768px) {
    .banner {
        justify-content: flex-start; Maybe put it at the bottom
    }

}

Medium devices (laptops, desktops)
@media screen and (min-width: 769px) and (max-width: 992px) {

}

Large devices (large laptops, desktops)
@media screen and (min-width: 993px) and (max-width: 1200px) {

}

Extra large devices (larger desktops, wide screens)
@media screen and (min-width: 1201px) {

}

*/