@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

h1 {
    display: none;
}

/* COVER */

.cover {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* BANNER */

.banner {
    height: 35vh;
    width: 100%;
    background-image: url('../images/banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.banner .icons {
    width: 15%;
    font-size: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 150px 15px 0;
}

.banner .icons a:nth-child(1) {
    color: #000;
    font-size: 45px;
}

.banner .icons a:nth-child(2) {
    color: #C13584;
}

.banner .icons a:nth-child(3) {
    color: #273f73;
}

.banner .icons a:nth-child(4) {
    color:  #000;
}

/* STORY */

.story {
    height: 65vh;
    width: 100%;
    background-image: url('../images/pattern.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.story-container {
    width: 85%;
    height: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.story-container img {
    width: min(40%, 700px);
}

.story-text {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 30px;
}

.story-text p:first-child {
    font-size: clamp(25px, 4vw, 45px);
    font-weight: bold;
    line-height: 1.2;
}

.story-text p:last-child {
    font-size: clamp(7px, 2vw, 20px);
    text-align: justify;
}

/* CATALOGUE */

.catalogue {
    height: 230vh;
    background-image: url('../images/pattern.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.catalogue h2 {
    font-size: 60px;
}

.catalogue-section {
    width: 90%;
    height: 37vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.catalogue-titles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.catalogue-section:nth-child(2n) .catalogue-titles h3 {
    align-self: flex-start;
}

.catalogue-section:nth-child(2n+1) .catalogue-titles  h3 {
    align-self: flex-end;
}

.catalogue-titles h3 {
    font-size: 35px;
    font-weight: 500;
}

.catalogue-titles h4 {
    font-size: 20px;
    font-weight: 300;
}

.catalogue-section:nth-child(2n) .catalogue-titles {
    align-self: flex-start;
}

.catalogue-section:nth-child(2n+1) .catalogue-titles {
    align-self: flex-end;
}

.carousel {
    width: 100%;
    height: 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.carousel img {
    width: 24%;
    border: 2px solid black;
    border-radius: 20px;
}

.availability {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.availability p {
    font-size: 35px;
    font-weight: 500;
    align-self: flex-start;
    margin-bottom: 20px;
}

.availability .games-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.availability .games-container img {
    width: 150px;
}

/* DELIVERY */

.delivery {
    width: 100%;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-image: url('../images/pattern.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.delivery h3 {
    font-size: 35px;
    font-weight: 500;
}

.delivery .consoles {
    max-width: 90%;
    height: 60vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.delivery .consoles .console {
    background-color: #00000028;
    height: 90%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 20px;
    padding: 10px;
}

.delivery .consoles .console img {
    width: 300px;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.delivery .consoles .console .instructions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.delivery .consoles .console .instructions p {
    text-align: center;
}

/* RESPONSIVE */

/* Small Phones */
@media screen and (max-width: 400px) {
    .banner {
        justify-content: flex-start;
    }

    .banner .icons {
        flex-direction: column;
        padding-left: 10px;
    }

    .story-container {
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    .story-container img {
        padding-top: 20px;
        width: 200px;
    }

    .story-text {
        width: 85%;
    }

    .story-text p:first-child {
        font-size: 23px;
    }
    
    .story-text p:last-child {
        font-size: 13px;
        text-align: justify;
    }

    .catalogue {
        height: 300vh;
    }

    .catalogue h2 {
        font-size: 40px;
    }

    .catalogue-section {
        height: 45vh;
    }

    .catalogue-titles h3 {
        font-size: 25px;
        font-weight: 500;
        margin-top: 15px;
    }
    
    .catalogue-titles h4 {
        font-size: 15px;
        font-weight: 300;
    }

    .catalogue-section:nth-child(2n+1) .catalogue-titles h3 {
        align-self: flex-start;
    }

    .carousel img {
        width: 40%;
    }

    .availability .games-container img {
        width: 80px;
    }

    .delivery {
        height: 120vh;
        display: flex;
    }

    .delivery h3 {
        font-size: 25px;
        text-align: center;
    }

    .delivery .consoles {
        gap: 20px;
        flex-direction: column;
        height: 85%;
    }

    .delivery .consoles .console {
        width: 95%;
    }

    .delivery .consoles .console img {
        width: 150px;
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
    }
}

/* Phones */
@media screen and (max-width: 576px) {
    .banner {
        justify-content: flex-start;
    }

    .banner .icons {
        flex-direction: column;
        padding-left: 10px;
    }

    .story-container {
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    .story-container img {
        padding-top: 20px;
        width: 200px;
    }

    .story-text {
        width: 85%;
    }

    .story-text p:first-child {
        font-size: 23px;
    }
    
    .story-text p:last-child {
        font-size: 13px;
        text-align: justify;
    }

    .catalogue {
        height: 300vh;
    }

    .catalogue h2 {
        font-size: 40px;
    }

    .catalogue-section {
        height: 45vh;
    }

    .catalogue-titles h3 {
        font-size: 25px;
        font-weight: 500;
        margin-top: 15px;
    }
    
    .catalogue-titles h4 {
        font-size: 15px;
        font-weight: 300;
    }

    .catalogue-section:nth-child(2n+1) .catalogue-titles h3 {
        align-self: flex-start;
    }

    .carousel img {
        width: 40%;
    }

    .availability .games-container img {
        width: 80px;
    }

    .delivery {
        height: 120vh;
        display: flex;
    }

    .delivery h3 {
        font-size: 25px;
        text-align: center;
    }

    .delivery .consoles {
        gap: 20px;
        flex-direction: column;
        height: 85%;
    }

    .delivery .consoles .console {
        width: 95%;
    }

    .delivery .consoles .console img {
        width: 150px;
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
    }
}
  
/* Tablets */
@media screen and (min-width: 577px) and (max-width: 768px) {

}

/* Medium devices (laptops, desktops) */
@media screen and (min-width: 769px) and (max-width: 992px) {

}

/* Large devices (large laptops, desktops) */
@media screen and (min-width: 993px) and (max-width: 1200px) {

}

/* Extra large devices (larger desktops, wide screens) */
@media screen and (min-width: 1201px) {

}